@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<table class="table table-border table-striped" style="width:100%;">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Patient_Problem
            </th>
            <th>
                Medical_Test
            </th>
            <th>
                Medical_Result
            </th>
            <th>
                date
            </th>

        </tr>
    </thead>
    <tbody>

        @{
            foreach (var i in Model)
            {
                <tr>
                    <td style="color:black;margin:20px;">
                        @i.Id
                    </td>
                    <td style="color:black;margin:20px;">
                        @i.PatientProblem
                    </td>
                    <td style="color:black;margin:20px;">
                        @i.MedicalTest
                    </td>
                    <td style="color:black;margin:20px;">
                        @i.MedicalResult
                    </td>
                    <td style="color:black;margin:20px;">
                        @i.date
                    </td>
                 
                   <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="MedicalReport" asp-action="Edit" asp-route-id="@i.Id" class="btn btn-primary mx-2"><i class="bi bi-pencil-square"></i> Edit</a>
                        </div>
                        
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<a asp-controller="MedicalReport" asp-action="Index" class="btn btn-secondary" style="width:150px;">
    Back
</a>

